<%= render question.curiosity_card %>
<div class="field is-grouped">
  <p class="control">
    <%= button_to 'Real', game_question_path(question.game, question),
      method: :patch, class: 'button is-primary',
      params: { question: { answer: true } }%>
  </p>
  <p class="control">
    <%= button_to 'Fake', game_question_path(question.game, question),
      method: :patch, class: 'button is-danger',
      params: { question: { answer: false } }%>
  </p>
</div>
