<div class="box">
  <div class="block">
    <h2 class='title has-text-centered'>Result:</h2>
    <h2 class='title has-text-primary has-text-centered'> <%= @result %></h2>
  </div>
  <div class='field has-text-right'>
    <%= link_to 'Play again', games_path, class: "button is-link is-outlined" %>
  </div>
</div>

