<p>
  <strong> User:</strong>
  <%= comment.user.email %>
</p>
<p>
  <strong>Comment:</strong>
  <%= comment.message %>
</p>
<% if user_signed_in? %>
  <% if policy(comment).update? %>
    <%= link_to "Edit", edit_curiosity_card_comment_path(@curiosity, comment.id), class: 'button is-primary is-rounded'%>
  <% end %>
  <% if policy(comment).destroy? %>
    <%= link_to "Destroy", curiosity_card_comment_path(@curiosity, comment.id), class: 'button is-danger is-rounded',
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
  <% end %>
<% end %>
<hr class='has-background-grey-light'/>
