<%= render "shared/curiosity_cards", search: @curiosities do |curiosity| %>
  <%= link_to edit_curiosity_card_admin_path(curiosity),
    class: 'button is-primary level-item' do %>
    <span class="icon is-small has-text-centered icon_size">
    Show
    </span>
  <% end %>
<% end %>
